nav {
    background: #f8f8f8;
    border-right: 1px solid #ccc;
    position: relative;
    height:100%;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    a {
        position: relative;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: #324A6D;
        font-size: 1em;
        align-items: center;
        &:hover {
          background: #ddd;
        }
        
    svg {
        padding: 0.75em 1em;
      }
    span {
        transition: opacity 0.25s 1s, padding 0.5s 1.25s, font-size 0.5s 1s;
        padding: 0;
        font-size: 0;
        opacity: 0;
      }
    }
    &:hover a {
      &.active span {
        padding: .75em .8125em .75em .1875em;
      }
      span {
        transition: padding 0.5s 1s, font-size 0.5s 1s, opacity 0.25s 1.5s;
        opacity: 1;
        font-size: 1em;
        padding: 0.75em 1em 0.75em 0.5em;
      }
    }
  }
  .activeNav  {
    svg {
        padding: .85em .8125em .75em 1.1875em;
        
      }
      color: white;
      background: #5d89ff;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      &::after {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        clip-path: inset(-5px -5px -5px 0);
        content: "";
        z-index: 2;
        background: #5d89ff;     
        position: absolute;
        right: -0.5em;
        width: 0.5em;
        height: 100%;
        border-radius: 0 0.375em 0.375em 0;
      }
}

  nav svg .fa-dollar-sign{
    padding: 15px;
  }

  .logoutButton{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:  15px 0;
    &:hover{
      background: #ddd;
    }
    button{
    font-size: 0.7rem;
    color: #324A6D;
    }
    
  }